@media screen and ( max-width: 1300px )
  .adv
    &__title
      font-size: 4rem
      max-width: 50rem
    &__image
      right: 0

@media screen and ( max-width: 1200px )
  .container
    padding: 0 1.5rem

  .product
    &-section
      &__data
        padding-right: 1rem
      &__title
        letter-spacing: -1px
  .categories
    &__icon
      left: 0.5rem
  .adv
    &__title
      font-size: 3.3rem
      max-width: 45rem
    &__image
      right: 0