*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'DIN Pro Medium', sans-serif;
  font-size: 1rem
  background-color: $light
img
  max-width: 100%
  opacity: 1
  transition: opacity 0.3s
img[data-src]
  opacity: 0
h1, h2, h3, h4, h5, h6
  font-weight: normal
p, h1, h2, h3, h4, h5, h6, ul
  margin: 0
  padding: 0
a
  text-decoration: none
  color: $primary
  outline: none
ul, ol
  list-style: none
button
  outline: none
.orange
  color: $orange
.secondary
  color: $secondary
.light
  color: $light
.col-25
  width: 23%
.col-30
  width: 30%
.btn
  display: inline-block
  color: primary
  padding: 0.9rem 2.2rem
  font-size: 1rem
  font-weight: 500
  letter-spacing: 0.14px
  border: 2px solid $primary
  box-shadow: inset 0 1px 0 rgba(87, 87, 87, 0.05)
  cursor: pointer
  transition: all 0.2s
  &:hover
    color: $orange
    border: 2px solid $orange
  &__icon
    display: inline-block
    margin-left: 1rem
    font-size: 0.785rem
.section
  &__title
    font-family: 'DIN Pro Light', sans-serif
    font-size: 1.714rem
    font-weight: 300
    text-align: center
    font-size: 2.517rem
    letter-spacing: 0.4px
.label
  position: absolute
  top: 15px
  left: -10px
  &__container
  &__image
    &-container
      position: relative
  &__value
    position: absolute
    left: 9px
    top: 7px
    font-family: 'DIN Pro Light', sans-serif
    font-size: 2.142rem
    font-weight: 400
    color: $light
    text-align: center