*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'DIN Pro Medium', sans-serif;
  font-size: 1rem
  background-color: $light
img
  max-width: 100%
  opacity: 1
  transition: opacity 0.3s
img[data-src]
  opacity: 0
p, h1, h2, h3, h4, h5, h6, ul
  margin: 0
  padding: 0
a
  text-decoration: none
  color: $primary
ul, ol
  list-style: none
.orange
  color: $orange
.light
  color: $light