.header
  position: relative
  z-index: 20
  &::before
    content: ''
    position: absolute
    top: 48px
    width: 100%
    height: 1px
    background-color: #E5E4E5
  &-bg
    background-color: transparent
  &-bgm
    background-color:#F6F6F6
.nav
  display: flex
  align-items: center
  padding-top: 0.5rem
  padding-bottom: 0.4rem
  &__logo-small
    margin-right: 2.142rem
  &__menu
    margin-right: auto
.menu
  display: flex
  &__item
    position: relative
    display: flex
    justify-content: center   
    padding-right: 1.4rem
    padding-left: 1.4rem
    &:first-child
      padding-left: 0
    &::after
      content: ''
      position: absolute
      height: 1rem
      width: 1px
      background-color: #afafaf
      right: 0
      top: 50%
      transform: translateY(-50%)
      &:last-child
    &:last-child
      padding-left: 1rem
      &::after
        display: none
  &__image
    position: relative
    display: inline-block
    height: 0.85rem
    width: 0.85rem
    margin-left: 3px
  &__android
    display: inline-block
    height: 1.5rem
    width: 1.5rem
    margin-left: 6px
    transform: translateY(2px)
  &__text
    display: inline-block
    color: $gray
    line-height: 2.142rem
    letter-spacing: 0.14px
    transition: color 0.2s
    &:hover
      color: $primary
.access
  display: flex
  &__text
    display: block
    color: $primary
    font-size: 14px
    line-height: 30px
    letter-spacing: 0.14px
  &__image
    width: 1rem
    height: 1rem
.subnav
  display: flex
  align-items: center
  // margin-bottom: 0.5rem
  &__logo
    display: flex
    align-items: center
    margin-top: 15px
    margin-right: auto
.logo
  &-small    
    display: flex
    align-items: center
    &__text
      display: none
      margin-left: 0.5rem
    &__title
      font-size: 1rem
      font-weight: bold
  &__image
    margin-right: 0.8rem
  &-text
    &__name
      font-size: 1.714rem
      font-weight: 500
      line-height: 1.8rem
      text-transform: uppercase
      letter-spacing: 2.16px
    &__description
      font-size: 0.857rem
      font-weight: 400
      letter-spacing: 0.12px
.submenu
  display: flex
  margin-top: 5px
  &__item
    position: relative
    margin-right: 2.5rem
    transition: all 0.9s
    &:hover
      &::after
        content: ''
        position: absolute
        left: 0
        bottom: -1rem
        width: 100%
        height: 1px
        background-color: $orange
    &:last-child
      margin-right: 0
      &:hover
        &::after
          display: none
  &__text
    font-size: 1.142rem
    font-weight: normal
    line-height: 1.8rem
    letter-spacing: 0.16px
    transition: color 0.2s
    &:hover
      color: $orange
  &__icon
    font-size: 0.857rem
  &__image
    position: relative
    display: inline-block
    height: 0.85rem
    width: 0.85rem
    margin-left: 5px
.counter
  display: flex
  &__like
    width: 61px
    height: 84px
    position: relative
    margin-left: 3.5rem
  &__sale
    width: 61px
    height: 84px
    position: relative
    margin-left: 0.6rem
  &__container
    position: absolute
    display: block
    left: 50%
    transform: translateX(-50%)
    top: 0
    margin-top: 1.05rem
    text-align: center
  &__icon
    display: block
    font-size: 1.428rem
  &__number
    display: block
    font-size: 1.142rem
    line-height: 2.6rem
.dropdown
  position: relative
  overflow: hidden
  &__list
    position: absolute
    width: 150%
    background-color:#F6F6F6
    transform-origin: top left
    transition: 0.2s ease-in-out
    transform: translateY(0%) scale(0)
    opacity: 0
    &--active
      transform: translateY(0%) scale(1)
      opacity: 1
      z-index: 30
  &__item
    border-bottom: 1px solid #d7d7d7
  &__link
    display: block
    padding: 0.5rem 0.5rem 0.5rem 1rem
    transition: 0.2s
    &:hover
      color: $orange
      font-family: 'DIN Pro Medium', sans-serif
  &-mobile
    position: relative
    &--active
      border-bottom-color: $orange
    &__list
      position: absolute
      left: 100%
      top: 3rem
      width: 70%
      transform-origin: top left
      transition: 0.2s ease-in-out
      transform: translateY(0%) scale(0)
      opacity: 0
      &--active
        transform: translateY(0%) scale(1)
        opacity: 1
        z-index: 30
      &--active .dropdown-mobile__item
        // border-bottom: 1px solid $orange
        border-left: 1px solid $orange
    &__item
      padding: 0.3rem 0.5rem 0.3rem 1rem
      border-bottom: 1px solid #525252
      border-left: 1px solid #525252
    &__link
      font-family: 'DIN Pro Light', sans-serif
      font-weight: normal
      font-size: 1rem
      color: $light
  